.switch-loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch-image {
  @apply w-48 h-48 xl:w-96 xl:h-96 m-auto rounded-full;
  transform-origin: center;
  animation: breathing-animation 2s ease-in-out infinite;
}

.loading-pulse span {
  @apply animate-pulse w-2 h-2 inline-block;
  border-radius: 50%;
  margin: 0 2px;
  opacity: 0;
  font-size: 1.25em;
}

.loading-pulse span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-pulse span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes breathing-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
