@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Yellow Style";
  src: url("/fonts/YellowStyle.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

html,
body {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  color: white;
  /* font-family: "Yellow Style", sans-serif; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tw-connected-wallet {
}

.tw-connect-wallet {
  /* @apply bg-primary hover:bg-light-purple active:!bg-light-purple focus:!bg-light-purple disabled:!bg-light-purple !text-white; */
}
